{% extends "base.html" %}

{% block content %}
<div class="col-md-9 col-lg-12 px-md-4 add-pointer-btn">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
      <h1 class="h2">Send Query Messages</h1>
 </div>

 <div class="col-md-12 px-md-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" onclick="radion_one()" value="option1" checked>
    <label class="form-check-label" for="inlineRadio1">Send mannuly</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" onclick="radion_two()" value="option2">
    <label class="form-check-label" for="inlineRadio2">Send file</label>
  </div>
    <form  method="post" id="form1">
        {% csrf_token %}
  
        <div class="row my-4">
          <div class="col">
              <label  class="form-label"> Message Start</label>
              <input type="text" class="form-control" value="#@"  readonly>
            
          </div>
          <div class="col">
              <label  class="form-label">Message Code</label>
            <input type="text"  class="form-control" value="60"  readonly>
     
          </div>
      </div>

          <div class="row my-4">
           
              <div class="col">
                  <label  class="form-label">Terminal Id</label>
                <input type="text" maxlength="5" minlength="5" pattern="\d*" title="please enter 5 digits of number" class="form-control" placeholder="00000" name="terminal_id" value="{{terminal_id}}"  required>
         
              </div>

              <div class="col">
                <label  class="form-label"> AWS Query</label>
              <select class="form-select" aria-label="Default select example" name="aws_query" value = "{{query_code}}" required>
                  <option value="" selected disabled> select query</option>
                  {% for q in aws_query_code %}
                  <option value="{{q.code}}">{{q.title}}</option>
                  {% endfor %}
                </select>
            </div>
          </div>
        
  
          <div class="row my-4">
              <div class="col">
                  <label  class="form-label">Message Date</label>
                  <input type="date" name="message_date"  class="form-control" value='{{message_date}}' required>
                {% comment %} <input type="text" class="form-control" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])(0[1-9]|1[012])[0-9]{2}" title="ex: 010522" name="query_date" placeholder="DDMMYY" value='{{query_date}}' required> {% endcomment %}
                {% if not_valid %}
                <div id="userHelp" class="form-text text-danger">{{form.message_date.errors}}</div>
             {% endif %}
              </div>
              <div class="col">
                  <label  class="form-label">Message end time</label>
                  <input type="time" class="form-control" name="end_time" value="{{end_time}}" required>
                {% comment %} <input type="text" class="form-control" pattern="([01]?[0-9]|2[0-3])[0-5][0-9]" name="start_time" title="like 1545"  value='{{start_time}}' placeholder="HHMM" required> {% endcomment %}
                {% if not_valid %}
                <div id="userHelp" class="form-text text-danger">{{form.no_fragment.errors}}</div>
             {% endif %}
        
              </div>
          </div>
  
          {% comment %}  {% endcomment %}
          {% comment %} <div class="row my-4">
            <div class="col-md-6">
                <label  class="form-label">Data Stop Time</label>
              <input type="text" class="form-control" pattern="([01]?[0-9]|2[0-3])[0-5][0-9]" name="stop_time" value='{{stop_time}}' placeholder="HHMM" required>
              {% if not_valid %}
              <div id="userHelp" class="form-text text-danger">{{form.grid_id.errors}}</div>
           {% endif %}
            </div> {% endcomment %}

            <div class="row my-4">
              <div class="col-6">
                  <label  class="form-label"> Message End</label>
                  <input type="text" class="form-control" value="@#"  readonly>
              </div>
          </div>
    
    
            <div class="row my-4">
                <div class="col-5">
                    <button type="submit" class="btn btn-purple w-25">Send</button>
                    <button type="reset" class="btn btn-info w-25 text-white ms-1">Reset</button>
                </div>
          </div>
    </form>

    <form method="post" id="form2" class="d-none p-5">
     {% csrf_token %}
      <div class="containerr">
       <input type="file" class="form-control" accept=".xlsx, .xls, .csv" required >
    
   </div>

     <div class="row my-4">
       <div class="col-5">
           <button type="submit" class="btn btn-purple w-25">Send</button>
           <!-- <button type="reset" class="btn btn-info w-25 text-white ms-1">Reset</button> -->
           <button type="reset" class="btn btn-info w-50 text-white ms-1">Download File Format</button>
       </div>
 </div>
</form>

 </div>

 <script>
  function radion_one(){
      document.getElementById("form2").classList.add('d-none')
      document.getElementById("form1").classList.remove('d-none')
  }


  function radion_two(){
      document.getElementById("form1").classList.add('d-none')
      document.getElementById("form2").classList.remove('d-none')

  }
</script>

{% endblock %}