{% extends "base.html" %}

{% block content %}
{% include "datatable.html" %}
<div class="col-md-9 col-lg-12 px-md-4 add-pointer-btn">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
      <h1 class="h2">Data Query Messages</h1>
 </div>
  
</div>


<div class="col-md-9 col-lg-12 px-md-4 mt-4 point-table">
    <table id="example" class="table table-striped table-content" style="width:100%">
        <thead>
            <tr>
                <th>Send At</th>
                <th>Terminal id</th>
                <th>Query code</th>
                <th>Message date</th>
                <th>End time</th>
                <th>Sequence num</th>
                <th>Acknow</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for i in messages %}
        <tr>
        <td>{{i.send_on|date:'d-m-Y H:i'}}</td>
        <td>{{i.terminal_id}}</td>
        <td>{{i.query_code}}</td>
        <td>{{i.message_date}}</td>
        <td>{{i.end_time}}</td>
        <td>{{i.sequence_num}}</td>
        <td>
            {% if i.ack  %}
            <i class="bi bi-check-circle-fill"></i>
            {% elif i.ack is False  %}
            <i class="bi bi-x-circle-fill"></i>
            {% else  %}
            <i class="bi bi-exclamation-circle"></i>
            {% endif %}
        </td>
        <td> <button class="btn btn-primary btn-sm update-in-btn" data-bs-toggle="modal" data-bs-target="#more{{i.id}}">Packet</i></button></td>
        
        </tr>

        <div class="modal fade" id="more{{i.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-capitalize" id="staticBackdropLabel">Query More Details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Packet: {{i.data}}
                    <br>

                    JSON : {{i.send_data}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
            </div>
        {% endfor %}
        </tbody>
</table>


</div>


<script>
    $(document).ready(function () {
        $('#example').DataTable({
            order: [[0, 'desc']],
        });
    });
</script>
{% endblock %}