{% extends "base.html" %}

{% block content %}
{% include "datatable.html" %}
<div class="col-md-9 col-lg-12 px-md-4 add-pointer-btn">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
      <h1 class="h2">Site Special Critical Alert Message</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <form method="get">
            <div class="d-flex">
                <input type="date" class="form-control" name="search-date" >
                <input type="time" class="form-control ms-1" name="search-time" >
            <button class="btn  rounded ms-1 btn-purple"><i class="bi bi-search"></i></button>
            </div>
        </form>
      </div>
 </div>
  
</div>


<div class="col-md-9 col-lg-12 px-md-4 mt-4 point-table">
    <table id="example" class="table table-striped table-content" style="width:100%">
        <thead>
            <tr>
                <th>Send At</th>
                <th>Send By</th>
                <th>Start date</th>
                <th>Grid id</th>
                <th>NO of day</th>
                <th>Avalanche axis id</th>
                <th>Acknow</th>
                <th>Alert message</th>
                {% if request.user.is_superuser %}
                <th>Packet</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for i in messages %}
        <tr>
        <td>{{i.send_on|date:'d-m-Y H:i'}}</td>
        <td>{{i.send_by}}</td>
        <td>{{i.start_date|slice:"2"}}-{{i.start_date|slice:"2:4"}}-{{i.start_date|slice:"4:6"}}</td>
        <td>{{i.grid_id}}</td>
        <td>{{i.num_of_day}}</td>
        <td>{{i.avalanche_axis_id}}</td>
        <td>
            {% if i.ack  %}
            <i class="bi bi-check-circle-fill"></i>
            {% elif i.ack is False  %}
            <i class="bi bi-x-circle-fill"></i>
            {% else  %}
            <i class="bi bi-exclamation-circle"></i>
            {% endif %}
        </td>

        <td>
            <button class="btn btn-primary btn-sm update-in-btn" data-bs-toggle="modal" data-bs-target="#day{{i.id}}">message</i></button>

            <div class="modal fade" id="day{{i.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-capitalize" id="staticBackdropLabel">Critical Alert Message</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      {{i.alert_message}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                    </div>
                </div>
                </div>

        </td>

        {% if request.user.is_superuser %}
        <td>
            <button class="btn btn-primary btn-sm update-in-btn" data-bs-toggle="modal" data-bs-target="#more{{i.id}}">Packet</i></button>
        </td>
        <div class="modal fade" id="more{{i.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-capitalize" id="staticBackdropLabel">Weather Forecast Packet Details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <p> Packet: {{i.packet}}</p>
                    <br>
                    <p>JSON : {{i.json_data}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
            </div>
        {% endif %}
        </tr>
        {% endfor %}
        </tbody>
</table>


</div>


<script>
    $(document).ready(function () {
        $('#example').DataTable({
            order: [[0, 'desc']],
        });
    });
</script>
{% endblock %}