{% extends "base.html" %}

{% block content %}


  <main>

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">User</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    
    {% if incorrect %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        password incorrect please try again
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}

    <section class="section profile">
      <div class="row">
    

        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
             
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                 {% if incorrect or invalid_password %}
                 <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                 {% else %}
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" id="overview">Overview</button>
                  {% endif %}
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" id="edit_profile">Edit Profile</button>
                </li>

                <li class="nav-item">
                    {% if incorrect or invalid_password %}
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-change-password" id="change_password">Change Password</button>
                    {% else %}
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                  {% endif %}
                </li>

              </ul>
              <div class="tab-content pt-2">
                {% if incorrect or invalid_password %}
                <div class=  "tab-pane fade  profile-overview" id="profile-overview">
                {% else %}
                <div class=  "tab-pane fade show active profile-overview" id="profile-overview">
                {% endif %} 
               
                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Username</div>
                    <div class="col-lg-9 col-md-8">{{request.user}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">First Name</div>
                    <div class="col-lg-9 col-md-8">{{request.user.first_name}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Last Name</div>
                    <div class="col-lg-9 col-md-8">{{request.user.last_name}}</div>
                  </div>


                  <!-- <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{request.user.email}}</div>
                  </div> -->

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form action="/user-profile/edit/{{request.user.id}}/" method="post">
                    {% csrf_token %}
                    
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Username</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="username" type="text" class="form-control" id="fullName" value="{{request.user}}" readonly>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="first_name" type="text" class="form-control" id="fullName" value='{{ form.first_name.value|default:request.user.first_name }}' required>
                        <span class="text-danger">{{form.first_name.errors}}</span>
                    </div>
                    </div>

        
                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="last_name" type="text" class="form-control" id="company" value='{{ form.last_name.value|default:request.user.last_name }}'>
                        <span class="text-danger">{{form.last_name.errors}}  {{not_edited}}</span>
                    </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

           
                {% if incorrect or invalid_password %}
                <div class="tab-pane show active fade pt-3" id="profile-change-password"> 
                {% else %}
                <div class="tab-pane fade pt-3" id="profile-change-password"> 
                {% endif %} 
                
                  <form method="post" action="/user-profile/" >

                  {% csrf_token %}

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" value="{{password}}" class="form-control" id="currentPassword" required>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" value="{{new_password}}"  class="form-control" id="newPassword" required>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" value="{{re_new_password}}"  id="renewPassword" required>
                        {% if invalid_password %}
                        <span class="text-danger" id="password-warning">password must be similar</span>
                        {% endif %}
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary" id="myBtn" >Change Password</button>
                    </div>
                  </form>

                   <!-- <script>
                    const source = document.getElementById('renewPassword');
                    const inputHandler = function(e) {
                        
                        var pass = document.getElementById("newPassword").value;
                        console.log(e.target.value +"  "+ pass)
                        if(pass == e.target.value){
                            console.log(e.target.value)
                           document.getElementById("myBtn").disabled = false;
                           document.getElementById("password-warning").innerHTML ="";
                        }
                        {
                           document.getElementById("password-warning").innerHTML ="password must be similar";
                           document.getElementById("myBtn").type = "button";
                        }
                        }
                        source.addEventListener('input', inputHandler);
                   </script> -->
                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/toastr.css'%}">
<script src="{% static 'js/toastr.js'%}"></script>
  {% if changed %}
  <script>
        toastr.options.timeOut = 1500; // 1.5s
        toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
        }
        toastr.success("password changed successfully");
    </script>
{% endif %}

{% if user_profile_edited == False %}

<script>
    document.getElementById("profile-overview").classList.remove("active", "show");
    document.getElementById("profile-edit").classList.add("active","show")
    document.getElementById("overview").classList.remove("active");
    document.getElementById("edit_profile").classList.add("active")
    document.getElementById("change_password").classList.remove("active");

</script>
{% endif %}


{% endblock %}