{% extends "sockets/base.html" %}


{% block ws_content %}
{% load static %}



<main class="pb-4 rounded add-user-form">

    <div class="col-md-9 col-lg-12 px-md-4">
        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
          <h1 class="h2 text-capitalize">New websocktet connection</h1>

        </div>
      </div>
    
    <div class="col-md-9 col-lg-12 px-md-4 mt-4">
      <form method="post" action="/wss/login/">
       {% csrf_token %}    
      <div class="mb-3">
        <label for="ws-username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" id="ws-username"  aria-describedby="firstHelp" value='{{ ws_form.username.value|default_if_none:"" }}' required>
        <span class="text-danger">{{ws_form.username.errors}}</span>
      </div>
    
      <div class="mb-3">
        <label for="ws-password" class="form-label">password</label>
        <input type="password" name="password" class="form-control" id="ws-password" aria-describedby="lastHelp" value='{{ ws_form.password.value|default_if_none:"" }}' required>
        <span class="text-danger">{{ws_form.password.errors}}</span>
      </div>
    
      <div class="mb-3">
        <label for="ws-packet" class="form-label">Packet Id</label>
        <input type="text" name="packet_id" class="form-control" id="ws-packet"  aria-describedby="userHelp" value='{{ ws_form.packet_id.value|default_if_none:"" }}' required>
       <span class="text-danger">{{ws_form.packet_id.errors}}</span>
      </div>

    
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    
    </main>
 {% endblock %}